
.button {
    width: 100px;
    padding: 20px;
    font-size: 20px;
    margin: -1px 2px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(30, 30, 30);
    color: white;
}

.row {
    margin: 5px 0;
}

.row input {
    width: 270px;
    font-size: 30p;
    height: 13px;
    margin: 3px;
    padding: 25px 20px;
    background-color: white;
    color: black;

}
.cBtn{
    background-color: rgb(13, 209, 144);
}
.funBtn{
    background-color: rgb(87, 86, 86);
    color: white;
}